<h2 class="display-6 text-center my-5">Available Fish</h2>
    
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card mx-4 rounded-3 shadow-sm" style="width: 18rem;">
                    <img src="./assets/img/redPhone.jpg" alt="Red Fish">
                    <div class="card-header">
                        Red Fish
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/mo</small>
                        </h1>
                        <button type="button" (click)="addDevice(2)" class="btn btn-warning my-2">Add Blue Fish</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-4 rounded-3 shadow-sm" style="width: 18rem;">
                    <img src="./assets/img/bluePhone.jpg" alt="Blue Fish">
                    <div class="card-header">
                        Blue Fish
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/mo</small>
                        </h1>
                        <button type="button" (click)="addDevice(3)" class="btn btn-warning my-2">Add Blue Fish</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-4 rounded-3 shadow-sm" style="width: 18rem;">
                    <img src="./assets/img/greenPhones.png" alt="Green Fish">
                    <div class="card-header">
                        Green Fish
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$40<small class="text-muted fw-light">/mo</small>
                        </h1>
                        <button type="button" (click)="addDevice(1)" class="btn btn-warning my-2">Add Green Fish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>